@import "settings";

#imagepiping{
	@include imageizer(2_research_1)
}
.lt-ie9 #imagepiping{
	@include imageie(2_research_1);
}
.thirds{
	max-width: $indsideWidth;
	width: $width;
	margin: 0 auto;
	> li{
		width: 30%;
		margin: 0 0;
		display: inline-block;
		vertical-align: top;
		&:nth-child(3n-1){
			margin: 0 3%;
		}
		@include at-query ($max, $inbetween) {
			width: 47.5%;
			&:nth-child(2n){
				margin: 0 0 0 2%;
			}
			&:nth-child(2n-1){
				margin: 0 2% 0 0;
			}
		}
		@include at-query ($max, $medium) {		
			width: 100%;
			margin: 0;
		}
	}
}
.lt-ie9 .thirds > li{
	margin-right: 1.5%;
}

.counter{
	li{
		counter-increment: step-counter;

		&::before {
			content: counter(step-counter);
			display: inline-block;
			vertical-align: top;
			@include vendorize(border-radius,100%);
			background-color: $pink;
			height: R2P(1.6);
			height: 1.6rem;
			width: R2P(2);
			width: 2rem;
			padding-top: R2P(.4);
			padding-top: .4em;
			color: #fff;
			font-weight: bolder;
			font-size: R2P(.95);
			font-size: .95rem;
			text-align: center;
			margin: R2P(-0.5) R2P(1);
			margin: -0.5rem 1rem;
		}
		p{
			display: inline-block;
			width: 70%;
		}
	}
}

.greyed{
	background-color: $darkgrey;
	color: $white;
	h2{
		color: $white;
	}
}
#research{
	h2{
		text-align:center;
	}
	svg{
		max-width: 100%;
		height: 100%;
		min-height: 300px;
	}
	
	#telemedicine{
		width: 100%;
		height: auto;
		@include at-query ($max, $medium) {		
			display: none;
		}
		// @include vendorize(border-radius,100%);
		// background-image: url(../img/clinical.jpg);
		// background-size: cover;
	}
	>h3{
		margin-bottom: R2P(1);
		margin-bottom: 1rem;
		margin-top: 1rem;
	}
	.slides{
		position: relative;
		margin-bottom: R2P(5);
		margin-bottom: 5rem;
		background-color: #eee;

		button {
			position: absolute;		
			top: 0;		
			width: 14%;
			height: 100%;
			background: transparent;
			border: none;
			// color: transparent;
			font-size: 5em;
			color: #fff;
			color: rgba(255,255,255,0.45);
			padding: 0;
			font-weight: lighter;
			&:focus{
				outline:none;
			}
			&:hover{
				color: #fff;
				color: rgba(255,255,255,0.85);
			}
		}
		.slick-prev{
			left: 0;
		}
		.slick-next{
			right: 0;
		}		
	}
	.slide {
		>div{
			padding-top: R2P(1);
			padding-top: 1rem;
		}
		h3{
			margin: 0 auto R2P(1);
			margin: 0 auto 1rem;
			text-align: center;
			padding: R2P(3) 0 R2P(2) 0;
			padding: 3rem 0 2rem 0;
		}
		div > div > h3, li > h3{
			margin: 0 0 R2P(1) 0;
			margin: 0 0 1rem 0;
		}
		h4{
			padding: R2P(2.9);
			padding: 2.9rem;
			text-align: center;
			@include at-query ($max, $medium) {
				padding: R2P(0.9) 0;
				padding: 0.9rem 0;
			}
		}
		table{
			padding-top: R2P(1);
			padding-top: 1rem;
			width: 100%;
			tr{
				border-bottom: solid 1px $black;
				font-size: R2P(0.9);
				font-size: .9rem;
				padding: 3px 0;
				td:first-child{
					font-weight: bolder;
					text-transform: capitalize;
				}
				th{
					white-space: normal;
				}
			}
			h3{
				padding: R2P(1) 0 0;
				padding: 1rem 0 0 0;
				text-align: left;
				margin-bottom: 0;
			}
		}
	}
	.pink-backgorund{
		background-color: $lightpink;
		h3{
			padding: R2P(2.5) 0 R2P(2.5) 0;
			padding: 2.5rem 0 2.5rem 0;
			letter-spacing: 0;
			font-family: franklin-gothic-urw;
		}
	}

	.slideshow{
		position: relative;
		p{
			padding-top: R2P(1);
			padding-top: 1rem;
			@include at-query ($max, $medium) {	
				font-size: R2P(0.8);
				font-size: 0.8rem;
			}
		}
		button {
			position: absolute;		
			top: 0;		
			width: 14%;
			height: 100%;
			background: transparent;
			border: none;
			// color: transparent;
			font-size: 5em;
			color: #fff;
			color: rgba(255,255,255,0.45);
			padding: 0;
			font-weight: lighter;
			&:focus{
				outline:none;
			}
			&:hover{
				color: #fff;
				color: rgba(255,255,255,0.85);
			}
		}
		.slick-prev{
			left: 0;
		}
		.slick-next{
			right: 0;
		}
		.slick-list{
			overflow: hidden;
			img{
				width: 100%;
				display: block;
				// margin: 0 auto;
			}
		}
		.center{
			margin: 0px;
			max-width: 100%;
			@include at-query ($max, $medium) {
				margin: 0 auto;
			}
		}
		@include at-query ($max, $medium) {	
			img{
				max-width: 100%;
			}
		}
	}
	#research_programs{
		text-align: center;
		padding: R2P(0.5) 0 R2P(1) 0;
		padding: 0.5rem 0 1rem 0;
		li{
			display: inline-block;
			padding: R2P(0.25) R2P(0.5);
			padding: 0.25rem 0.5rem;
		}
		h4{
			font-size: R2P(0.9);
			font-size: 0.9rem;
			text-transform: initial;
			font-weight: normal;
			a:hover{
				color: $pink;
			}
		}
		a.active{
			color: $black;
			font-weight: bold;		
		}
		@include at-query ($max, $medium) {
			display: none;
		}
	}
	#neurovision{
		position: relative;
		span{
			position: absolute;
			width: 15px;
			height: 15px;
			border-radius: 100%;
			background-color: $white;
			&.active{
				background-color: $pink;
			}
			&#section1 {
				top: 37%;
				left: 62%;
			}
			&#section2 {
				top: 51%;
				left: 49%;
			}
			&#section3 {
				top: 69%;
				left: 35%;
			}
			&#section4 {
				top: 37%;
				left: 29%;
			}
		}
		
		img {
			width: 100%
		}
	}
	.lt-ie9 #neurovision span{
		filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476); /* IE6,IE7 */
		-ms-filter: "progid:DXImageTransform.Microsoft.Matrix(SizingMethod='auto expand', M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476)"; /* IE8 */
	}
	#neurovision_text{
		tr{
			color: $white;
			text-align: center;
			border-bottom: solid 1px $white;
			&.active{
				td{
					// background-color: $grey;
					color: $pink60;
					font-weight: bolder;
				}
			}
			td{
				font-weight: normal;
				text-align: left;
			}
		}
	}
}



#low_income_death_svg{
	fill: $pink80;
}
#low_income_survivors_svg{
	fill: $pink60;
}
#high_income_death_svg{
	fill: $pink40;
    stroke: $pink40;
    stroke-width: 7px;
}
#high_income_survivors_svg{
	fill: $pink20;
}
#piegraph{

	@mixin incomeTypes($income) {
		&.#{$income}{
			##{$income}_svg{
				fill: $darkpink80;
				stroke: $darkpink80;
			}
			tr##{$income}{
				// background-color: $red;
				color: $darkpink80;
				background-color: #fff;
			}
		}
	}

	table{
		width: 100%;
		padding-bottom: R2P(3);
		padding-bottom: 3rem;
	}

	$piedata: low_income_death low_income_survivors high_income_death high_income_survivors;
	@each $i in $piedata{
		@include incomeTypes(#{$i});
	}
}	


#telemedicine{
	@mixin telmedtypes($location) {
		&.#{$location}{
			##{$location}_svg{
				fill: $darkpink80;
				stroke-width: 35px;
				stroke: $darkpink80;
			}
			tr##{$location}{
				// background-color: $grey;
				color: $darkpink80;
				background-color: #fff;
			}
		}
	}
	width: 100%;
	height: auto;
	svg{
		@include vendorize(border-radius,100%);
		background-image: url(../img/clinical.jpg);
		background-size: cover;
		max-width: 100%;
		height: 100%;
		min-height: 300px;
	}

	line,circle,path,polyline{
		stroke:$pink;
	}
	path{
		fill:$pink;
	}
	#mapimage{
		stroke:transparent;
		fill: url(#img1);
		background-size: cover;
	}

	$telemeddata: toronto hamilton kitchener barrie sudbury timmins;
	@each $i in $telemeddata{
		@include telmedtypes(#{$i});
	}	
}



.slick-list{
	overflow: hidden;
}
// 	.title{
// 		h4{
// 			color: $pink;
// 			&:after{
// 				height: 3px;
// 				background-color: $pink;
// 			}
// 		}
// 	}

// 	.researchprograms{
// 		@extend .center;
// 	}

// 	#piegraph{
// 		.pie{
// 			@extend .center;

// 			li{
// 				list-style: initial;
// 				margin-left: 1em;
// 			}

// 			svg{
// 				width: 75%;
// 				display: block;
// 				margin: 0 auto;
// 				#path1{
// 					fill:#ccc;
// 				}
// 				#path2{
// 					fill:#aaa;
// 				}
// 				#path3{
// 					fill:#999;
// 				}					
// 			}
// 			&.active0{
// 				#path1,#path2,#path3,li:first-child{
// 					fill:$pink !important;
// 					color: $pink !important;
// 				}
// 			}
// 			&.active1{
// 				#path2,li:nth-child(2){
// 					fill:$pink !important;
// 					color: $pink !important;
// 				}
// 			}
// 			&.active2{
// 				#path3,li:last-child{
// 					fill:$pink !important;
// 					color: $pink !important;
// 				}
// 			}				
// 		}

// 		.thrids{
// 			> div{
// 				.number{
// 					width: 100px;
// 					height: 100px;
// 					margin: 0 auto;
// 					display: table;
// 					background-color: $pink;
// 					border-radius: 100%;
// 					margin-bottom: $pb/2;
// 					span{
// 						display: table-cell;
// 						vertical-align: middle;
// 						color: #fff;
// 						font-weight: bolder;
// 						font-size: 3em;
// 					}
// 				}
// 				p{
// 					width: 80%;
// 					margin: 0 auto;
// 					text-align: center;
// 				}
// 			}
// 		}		
// 	}
// 	.telemed{
// 		@extend .center;
// 	}

// 	.otherthree{
// 		h2{
// 			padding-top: $pb/2;
// 		}
// 	}

// 	#slideshowcontainer{
// 		background-color: $lightpink;
// 	}

// 	.slideshow-title{
// 		@extend .center;

// 		h2 {
// 			margin-bottom: $pb/2;
// 		}
// 	}

// 	.slideshow{
// 		position: relative;
// 		button {
// 			position: absolute;		
// 			top: 0;		
// 			width: 100%;
// 			height: 100%;
// 			background: transparent;
// 			border: none;
// 			color: transparent;
// 			&:focus{
// 				outline:none;
// 			}
// 		}
// 		.slick-prev{
// 			right: 90%;
// 		}
// 		.slick-next{
// 			left: 90%;
// 		}
// 		.slick-list{
// 			overflow: visible;
// 			img{
// 				width: 90%;
// 			}
// 		}
// 	}	
// }