@import "settings";
#imagepiping{
	background-image:url(/assets/pic/2_research_1-large-o@1x.jpg);
	@include retina() {
		background-image:url(/assets/pic/2_research_1-large-r@2x.jpg);
	}
}


.thirds{
	max-width: $indsideWidth;
	width: $width;
	margin: 0 auto;
	> li{
		width: 30%;
		margin: 0 0;
		display: inline-block;
		vertical-align: top;
		&:nth-child(3n-1){
			margin: 0 3%;
		}
	}
}

.counter{
	li{
		counter-increment: step-counter;

		&::before {
			content: counter(step-counter);
			display: inline-block;
			vertical-align: top;
			@include vendorize(border-radius,100%);
			background-color: $pink;
			height: R2P(1.6);
			height: 1.6rem;
			width: R2P(2);
			width: 2rem;
			padding-top: R2P(.4);
			padding-top: .4em;
			color: #fff;
			font-weight: bolder;
			font-size: R2P(.95);
			font-size: .95rem;
			text-align: center;
			margin: R2P(-0.5) R2P(1);
			margin: -0.5rem 1rem;
		}
		p{
			display: inline-block;
			width: 70%;
		}
	}
}

.greyed{
	background-color: $darkgrey;
	color: $white;
	h2{
		color: $white;
	}
}
#research{
	svg{
		max-width: 100%;
		height: auto;
	}
	#telemedicine{
		width: 100%;
		height: auto;
		background-color: #000;
		@include vendorize(border-radius,100%);
		background-image: url(../img/clinical.jpg);
		background-size: cover;
	}
	>h3{
		margin-bottom: R2P(1);
		margin-bottom: 1rem;
		margin-top: 1rem;
	}
	.slides{
		margin-bottom: R2P(5);
		margin-bottom: 5rem;
	}
	.slide {
		>div{
			padding-top: R2P(1);
			padding-top: 1rem;
		}
		h2{
			margin: 0 auto R2P(1);
			margin: 0 auto 1rem;
		}
		div > div > h2, li > h2{
			margin: 0 0 R2P(1) 0;
			margin: 0 0 1rem 0;
		}
		h3{
			padding-top: R2P(2.9);
			padding-top: 2.9rem;
			text-align: center;
		}
	}
	.pink-backgorund{
		background-color: $lightpink;
		h3{
			padding: R2P(2.5) 0 R2P(2.5) 0;
			padding: 2.5rem 0 2.5rem 0;
			letter-spacing: 0;
			font-family: franklin-gothic-urw;
		}
	}

	.slideshow{
		position: relative;
		p{
			padding-top: 1rem;
		}
		button {
			position: absolute;		
			top: 0;		
			width: 14%;
			height: 100%;
			background: transparent;
			border: none;
			color: transparent;
			padding: 0;
			&:focus{
				outline:none;
			}
		}
		.slick-prev{
			left: 0;
		}
		.slick-next{
			right: 0;
		}
		.slick-list{
			overflow: hidden;
			img{
				width: 100%;
				display: block;
				// margin: 0 auto;
			}
		}
	}
	#research_programs{
		text-align: center;
		padding: 0.5rem 0 1rem 0;
		li{
			display: inline-block;
			padding: R2P(0.25) R2P(0.5);
			padding: 0.25rem 0.5rem;
		}
		h4{
			font-size: R2P(0.8);
			font-size: 0.8rem;
		}
		a.active{
			border-bottom: 2px solid $black;		
		}
	}
	#neurovision{
		position: relative;
		span{
			position: absolute;
			width: 15px;
			height: 15px;
			border-radius: 100%;
			background-color: $white;
			&.active{
				background-color: $pink;
			}
			&#section1 {
				top: 37%;
				left: 62%;
			}
			&#section2 {
				top: 51%;
				left: 49%;
			}
			&#section3 {
				top: 69%;
				left: 35%;
			}
			&#section4 {
				top: 37%;
				left: 29%;
			}
		}
		
		img {
			width: 100%
		}
	}
	#neurovision_text{
		span{
			color: $white;
			display: none;
			text-align: center;
			&.active{
				display: block;
			}
		}
	}
}

.slick-list{
	overflow: hidden;
}
// 	.title{
// 		h4{
// 			color: $pink;
// 			&:after{
// 				height: 3px;
// 				background-color: $pink;
// 			}
// 		}
// 	}

// 	.researchprograms{
// 		@extend .center;
// 	}

// 	#piegraph{
// 		.pie{
// 			@extend .center;

// 			li{
// 				list-style: initial;
// 				margin-left: 1em;
// 			}

// 			svg{
// 				width: 75%;
// 				display: block;
// 				margin: 0 auto;
// 				#path1{
// 					fill:#ccc;
// 				}
// 				#path2{
// 					fill:#aaa;
// 				}
// 				#path3{
// 					fill:#999;
// 				}					
// 			}
// 			&.active0{
// 				#path1,#path2,#path3,li:first-child{
// 					fill:$pink !important;
// 					color: $pink !important;
// 				}
// 			}
// 			&.active1{
// 				#path2,li:nth-child(2){
// 					fill:$pink !important;
// 					color: $pink !important;
// 				}
// 			}
// 			&.active2{
// 				#path3,li:last-child{
// 					fill:$pink !important;
// 					color: $pink !important;
// 				}
// 			}				
// 		}

// 		.thrids{
// 			> div{
// 				.number{
// 					width: 100px;
// 					height: 100px;
// 					margin: 0 auto;
// 					display: table;
// 					background-color: $pink;
// 					border-radius: 100%;
// 					margin-bottom: $pb/2;
// 					span{
// 						display: table-cell;
// 						vertical-align: middle;
// 						color: #fff;
// 						font-weight: bolder;
// 						font-size: 3em;
// 					}
// 				}
// 				p{
// 					width: 80%;
// 					margin: 0 auto;
// 					text-align: center;
// 				}
// 			}
// 		}		
// 	}
// 	.telemed{
// 		@extend .center;
// 	}

// 	.otherthree{
// 		h2{
// 			padding-top: $pb/2;
// 		}
// 	}

// 	#slideshowcontainer{
// 		background-color: $lightpink;
// 	}

// 	.slideshow-title{
// 		@extend .center;

// 		h2 {
// 			margin-bottom: $pb/2;
// 		}
// 	}

// 	.slideshow{
// 		position: relative;
// 		button {
// 			position: absolute;		
// 			top: 0;		
// 			width: 100%;
// 			height: 100%;
// 			background: transparent;
// 			border: none;
// 			color: transparent;
// 			&:focus{
// 				outline:none;
// 			}
// 		}
// 		.slick-prev{
// 			right: 90%;
// 		}
// 		.slick-next{
// 			left: 90%;
// 		}
// 		.slick-list{
// 			overflow: visible;
// 			img{
// 				width: 90%;
// 			}
// 		}
// 	}	
// }