.casestudy{
	background-color: $pink; 
	color: $white;
	h2{
		color: $white;
		@extend .center;
		text-align: left;
		// font-size: 1em;
	}
}

#clinical{


	.title h4{
		color: $pink;
		&:after {
			height: 3px;
			background-color: $pink;
		}
	}

	#clinicallist{

	}
	.thirds{
		img{
			max-width: 100%;
			border-radius: 100%;
		}
	}

	> div:last-child{
		background-color: $pink;
		color: $white;
		p{
			color: $white;
		}
	}

	blockquote.white{
		margin-bottom: 2rem;
		&::after{
			content:none;
		}
	}
	.center_like_blockquote{
		max-width: 900px;
		width: 75%;
		margin: 0 auto;
		// @extend blockquote;
		// margin: 0 auto;
		// span{
		// 	color: $white;
		// }
	}
}


h5{
	font-size: 1rem;
	font-weight: normal;
	text-align: center;	
	color: $darkgrey;
	span{
		color: $black;
		font-weight: bolder;
		display: block;
	}
}