#image_opperation{
	@include imageizer(4_clinical_1);
}
#image_eyeexam2{
	padding: 0;
	height: 500px;
	height: 60vh;
	@include imageizer(4_clinical_2);
}
.lt-ie9 {
	// #image_eyeexam2{
	// 	@include imageie(4_clinical_2);
	// }
	#image_opperation{
		@include imageie(4_clinical_1);
	}
}
.casestudy{
	background-color: $pink; 
	color: $white;
	h2{
		color: $white;
		@extend .center;
		text-align: left;
		// font-size: 1em;
	}
}

#clinical{
	.title h4{
		color: $pink;
		&:after {
			height: 3px;
			background-color: $pink;
		}
	}

	#clinicallist{

	}
	.thirds{
		padding-bottom: R2P(2);
		padding-bottom: 2rem;
		li{
			padding: R2P(2.5) 0 0 0;
			padding: 2.5rem 0 0 0;
			text-align: center;
			position: relative;
			p{
				display: none;
				top: 0;
				left: 0;
				width: 90%;
				background-color: $white;
				color: $black;
				z-index: 2;
				font-size: R2P(0.9);
				font-size: 0.9rem;


				// @include at-query ($min, $large) {
					position: absolute;
					padding: 5%;
					min-height: 90%;
					font-size: R2P(1rem);
					font-size: 1rem;
				// }
			    max-height: 100%;
    			overflow: scroll;
    			overflow-x: hidden;
			}
			h5{
				padding-bottom: R2P(2.5);
				padding-bottom: 2.5rem;
			}
			&:hover{
				p{
					display: block;
				}
				// @include at-query ($min, $large) {
					img,h5{
						display: inline-block;
					}
				// }
			}
		}
		img{
			max-width: 90%;
			@include vendorize(border-radius, 100%);
			behavior: url(assets/PIE.htc);
			@include at-query ($max, $medium) {
				@include vendorize(box-shadow, 5px 5px 5px rgba(136, 136, 136, 0.2));
				&:hover{
					@include vendorize(box-shadow, 5px 5px 5px rgba(136, 136, 136, 0.8));
				}
			}
			
		}
	}

	.whitebackground > div{
		// background-color: $pink;
		@extend .gradient;
		color: $black;
		h2,blockquote,p{
			color: $black !important;
		}
		h2{
			margin-left: 0 !important;
		}
	}

	h2.white{
		padding-top: R2P(3);
		padding-top: 3rem;
		margin-bottom: R2P(-2);
		margin-bottom: -2rem;
		width: 60%;
		min-width: 320px;
		@include at-query ($max, $medium) {
			width: 100%;
			min-width: inherit;
		}
	}
	blockquote.white{
		margin-bottom: R2P(2);
		margin-bottom: 2rem;
		&::after{
			content:none;
		}
	}
	.center_like_blockquote{
		max-width: 900px;
		width: 75%;
		margin: 0 auto;
		@include at-query ($max, $medium) {
			width: 95%;
		}
		// @extend blockquote;
		// margin: 0 auto;
		// span{
		// 	color: $white;
		// }
	}

	#abby_readmore:hover a{
		color: $black;
	}
	#abby_readmore_text{
		display: none;
		padding-top: R2P(2);
		padding-top: 2rem;
		&.show{
			display: block;
		}
	}
}


h5{
	font-size: R2P(1);
	font-size: 1rem;
	font-weight: normal;
	text-align: center;	
	color: $darkgrey;
	span{
		color: $black;
		font-weight: bolder;
		display: block;
	}
}