#image_child_mother{ 
	@include imageizer(5_howtohelp_1);
}

#image_help_machine{
	padding: 0;
	height: 500px;
	height: 60vh;
	@include imageizer(5_howtohelp_2);
}

#image_child_mother_nurse{
	padding: 0;
	height: 500px;
	height: 90vh;
	@include imageizer(5_howtohelp_3);
}

.lt-ie9 {
	#image_child_mother{
		@include imageie(5_howtohelp_1);
	}
}

#help{

	.whitebackground{
		@extend .gradient;
		margin-top: 0 !important;
	}
	.titlepage{
		z-index: 1;
	}
	#whatcomesnext {
		max-width: $indsideWidth*.9;
		width: 75%;
	}
	blockquote{
		&::before,&::after{
			content: none;
		}

		&:last-of-type{
			color: $black;
		}
	}
	@extend .gradient;
}
