#image_child_mother{ 
	background-image:url(/assets/pic/5_howtohelp_1-large-o@1x.jpg);
	@include retina() {
		background-image:url(/assets/pic/5_howtohelp_1-large-r@2x.jpg);
	}
}

#image_help_machine{
	padding: 0;
	height: 500px;
	height: 60vh;
	background-image:url(/assets/pic/5_howtohelp_2-large-o@1x.jpg);
	@include retina() {
		background-image:url(/assets/pic/5_howtohelp_2-large-r@2x.jpg);
	}
}

#image_child_mother_nurse{
	padding: 0;
	height: 500px;
	height: 90vh;
	background-image:url(/assets/pic/5_howtohelp_3-large-o@1x.jpg);
	@include retina() {
		background-image:url(/assets/pic/5_howtohelp_3-large-o@1x.jpg);
	}
}

#help{

	.whitebackground{
		@extend .gradient;
	}
	.titlepage{
		z-index: 1;
	}
	#whatcomesnext {
		max-width: $indsideWidth*.9;
		width: 75%;
	}
	blockquote{
		&::before,&::after{
			content: none;
		}

		&:last-of-type{
			color: $black;
		}
	}
	@extend .gradient;
}
