@import "settings";

$countries: mexico usa chile saudiarabia oman kuwait pakistan india netherlands switerland malaysia philippines southkorea australia newzeland signapor sirlanka nigeria egypt ireland unitedkingdom;



@mixin country($country, $text, $fill) {
	&.#{$country}{
		##{$country}_svg{
			fill: $fill;
		}
		p.#{$country}{
			// font-weight: bolder;
			color: $text;
		}
	}
}


#map{
	img{
		width: 100%;
	}
	stroke:$grey;
	fill:$grey;
	svg{
		width: 100%;
	}
	> div{
		position: relative;
		background-image:url(/assets/img/map.png);
		background-size: contain;
		background-repeat: no-repeat;
		@extend .center;	
	}
	p{
		text-align: center;
		color: $grey;
	}

	@each $i in $countries{
		##{$i}_svg{
			fill: $pink;
		}
		@include country(#{$i}, #ccc, #ccc);
	}	
	
}

#maplist{
	p{
		display: inline-block;
		text-align: left;
		padding: 1em;
		margin: 0;
	}
}

#mapmessage{
	position: absolute;
	top: 2em;
	right: 0;
	width: 50%;
}
