@import "settings";

.researchprograms{
	font-size: $fs;

	h4{
		text-align: center;
		text-transform: uppercase;
	}
	ul{
		padding: 0;
		width: 75%;
		margin: 0 auto;
		text-align: center;
		li{
			list-style: none;
			display: inline-block;
			color: $grey;
		}
		a{
			display: inline-block;
			padding: 0.25em 1em;
			&.active,&:hover{
				color: $black;
				text-decoration: underline;
			}
			&.active{
				font-weight: bold;
			}
		}
	}
}

.message{
	h2{
		font-size: 2em;
		font-weight: bolder;
		text-transform: uppercase;
		color: $black;
		margin-bottom: $pb/4;
	}
	.thrids{
		text-align: center;
		background-color: $lightpink;
		max-width: none;
		width: 100%;
		> div{
			@extend .center;
			> div{
				width: 33%;
				display: inline-block;
				vertical-align: top;
				padding: $pb 0;
			}
			.number{
				width: 100px;
				height: 100px;
				margin: 0 auto;
				display: table;
				background-color: $pink;
				border-radius: 100%;
				margin-bottom: $pb/2;
				span{
					display: table-cell;
					vertical-align: middle;
					color: #fff;
					font-weight: bolder;
					font-size: 3em;
				}
			}
			p{
				width: 80%;
				margin: 0 auto;
			}
		}
	}	
}


.pie{
	padding: $pb 0 0 0;
	font-size: $fs;
	p{
		margin: 0;
	}
	h4{
		padding-top: $pb;
		text-align: center;
	}	
	.left,.right{
		width: 50%;
		display: inline-block;
		vertical-align: top;
	}
	.left{
		width: 45%;
		padding-right: 5%;
		ul{
			margin: 0;
			padding: 0 0 0 24px;
			color: $darkgrey;
			li{
				padding: 0 0 $pb/4 0;
			}
		}
	}
	.right{
		svg{
			width: 75%;
			display: block;
			margin: 0 auto;
			#path1{
				fill:#ccc;
			}
			#path2{
				fill:#aaa;
			}
			#path3{
				fill:#999;
			}					
		}
	}
	&.active0{
		#path1,#path2,#path3,li:first-child{
			fill:$pink !important;
			color: $pink !important;
		}
	}
	&.active1{
		#path2,li:nth-child(2){
			fill:$pink !important;
			color: $pink !important;
		}
	}
	&.active2{
		#path3,li:last-child{
			fill:$pink !important;
			color: $pink !important;
		}
	}	
}

.telemed{
	text-align: right;
	position: relative;
	.right,.left{
		width: 50%;
		display: inline-block;
		vertical-align: top;
		text-align: left;
	}
	font-size: $fs;

	#telemedimage{
		position: absolute;
		left: -20%;
		top: 0;
		width: 60%;
		height: 500px;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		border-radius: 100%;
	}
}

.otherthree{
	text-align: left;
	font-size: $fs;
	h2{
		font-size: 2em;
		font-weight: bolder;
		text-transform: uppercase;
		color: $black;
		padding-top: $pb/2;
	}
	> div{
		width: 55%;
		margin: 0 auto;
	}
}
