
$small: 480px;
$medium: 768px;
$large: 769px;
$min: min-width;
$max: max-width;

$variable: #d7d7d7;

$pink: #D71F85;
$lightpink: #F2C7DF;
$grey: #818A8F;
$darkgrey: #555;
$white: #fff;
$black: #222;

$width: 90%;
$indsideWidth: 1000px;
$min-width:500px;
$pb: 75px;
$fs: 1.2em; //font size

.center{
	width: $width;
	max-width: $indsideWidth;
	margin: 0 auto;	
}
.bolder{
	font-size: 1em;
	font-weight: bold;
	text-transform: uppercase;
}




@mixin at-query ($constraint, $viewport1, $viewport2:null) {
	@if $constraint == $min {
		@media screen and ($min: $viewport1) {
			@content;
		}
	} @else if $constraint == $max {
		@media screen and ($max: $viewport1) {
			@content;
		}
	} @else {
		@media screen and ($min: $viewport1) and ($max: $viewport2) {
			@content;
		}
	}
}

@mixin vendorize($name, $argument) {
	-webkit-#{$name}: #{$argument};
	-ms-#{$name}: #{$argument};
	-moz-#{$name}: #{$argument};
	-o-#{$name}: #{$argument};
	#{$name}: #{$argument};
}

@mixin transition($transition-property, $transition-time, $method) {
	-webkit-transition: $transition-property $transition-time $method;
	-moz-transition: $transition-property $transition-time $method;
	-ms-transition: $transition-property $transition-time $method;
	-o-transition: $transition-property $transition-time $method;
	transition: $transition-property $transition-time $method;
}