@import "settings";

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body,html{
	padding: 0;
	margin: 0;
	font-family:"franklin-gothic-urw",sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
	color: $black;
	font-size: $fs;
}
// section{
// 	padding-top: $pb;
// }


//Global Styles
	#wrapper{
		overflow-x: hidden;
	}
	@import "global";


// Top Nav
	@import "nav.scss";


// HomePage
	.imageslide{
		background-color: $grey;
		min-height: 100vh;
		height: 500px;
		color: $pink;
		position: relative;
		.title{
			@extend .center;
			display: table;
			height: 100%;
			position: relative;
			z-index: 2;
			> div{
				display: table-cell;
				vertical-align: middle;
				text-align: center;
			}
			h1{
				margin: 0;
				padding: 0;
				font-size: 11em;
				line-height: 1em;
			}
			h2{
				margin: 0;
				font-size: 6em;
				&:before{
					content: "";
					display: block;
					width: 25%;
					height: 0.05em;
					background-color: $pink;
					margin: $pb*0.80 auto $pb*0.85 auto;
				}
			}		
		}
		
		.backgroundimage{
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			background-color: #f0c;
			background-image: url(/assets/img/pipeing.jpg);
			background-size: cover;
			// background-attachment: fixed;
			filter: blur(5px);
			-webkit-filter: blur(5px);
			// @include transition(filter, 2s, ease-in-out);
			// @include transition(-webkit-filter, 2s, ease-in-out);			
		}
		.backgroundimage.show{
			filter: blur(0px);
			-webkit-filter: blur(0px);
		}
	}


	.goals{
		font-size: $fs;
		h4{
			@extend .bolder;
			text-align: center;
			padding-top: $pb;
		}
		>div{
			@extend .center;
			padding: 3em 0 $pb 0;
			> div{
				display: inline-block;
				width: 33%;
				vertical-align: top;
				.image{
					width: 80%;
					margin: 0 auto;
					border-radius: 100%;
					overflow: hidden;
					img{
						width: 100%;
					}	
				}
				.text{
					width: 90%;
					padding: 3em 0 0 0;
					text-align: center;
					line-height: 1.4em;
					margin: 0 auto;
				}
				
			}
		}
	}


// Temp





@import "map";
@import "piegraph";
@import "titleslide";
@import "message-slide";
@import "researchprograms";
@import "slideshow";