h1, h2, h3 {
  text-transform: uppercase; }

h1 {
  font-size: 7em;
  line-height: 1.2em; }

h3 {
  font-size: 1.6em; }

a {
  color: inherit;
  text-decoration: inherit;
  display: inline-block; }

.center, .message .thrids > div {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto; }

.bolder {
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase; }

.researchprograms {
  font-size: 1.2em; }
  .researchprograms h4 {
    text-align: center;
    text-transform: uppercase; }
  .researchprograms ul {
    padding: 0;
    width: 75%;
    margin: 0 auto;
    text-align: center; }
    .researchprograms ul li {
      list-style: none;
      display: inline-block;
      color: #818a8f; }
    .researchprograms ul a {
      display: inline-block;
      padding: 0.25em 1em; }
      .researchprograms ul a.active, .researchprograms ul a:hover {
        color: #222222;
        text-decoration: underline; }
      .researchprograms ul a.active {
        font-weight: bold; }

.message h2 {
  font-size: 2em;
  font-weight: bolder;
  text-transform: uppercase;
  color: #222222;
  margin-bottom: 18.75px; }
.message .thrids {
  text-align: center;
  background-color: #f2c7df;
  max-width: none;
  width: 100%; }
  .message .thrids > div > div {
    width: 33%;
    display: inline-block;
    vertical-align: top;
    padding: 75px 0; }
  .message .thrids > div .number {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    display: table;
    background-color: #d71f85;
    border-radius: 100%;
    margin-bottom: 37.5px; }
    .message .thrids > div .number span {
      display: table-cell;
      vertical-align: middle;
      color: #fff;
      font-weight: bolder;
      font-size: 3em; }
  .message .thrids > div p {
    width: 80%;
    margin: 0 auto; }

.pie {
  padding: 75px 0 0 0;
  font-size: 1.2em; }
  .pie p {
    margin: 0; }
  .pie h4 {
    padding-top: 75px;
    text-align: center; }
  .pie .left, .pie .right {
    width: 50%;
    display: inline-block;
    vertical-align: top; }
  .pie .left {
    width: 45%;
    padding-right: 5%; }
    .pie .left ul {
      margin: 0;
      padding: 0 0 0 24px;
      color: #555555; }
      .pie .left ul li {
        padding: 0 0 18.75px 0; }
  .pie .right svg {
    width: 75%;
    display: block;
    margin: 0 auto; }
    .pie .right svg #path1 {
      fill: #ccc; }
    .pie .right svg #path2 {
      fill: #aaa; }
    .pie .right svg #path3 {
      fill: #999; }
  .pie.active0 #path1, .pie.active0 #path2, .pie.active0 #path3, .pie.active0 li:first-child {
    fill: #d71f85 !important;
    color: #d71f85 !important; }
  .pie.active1 #path2, .pie.active1 li:nth-child(2) {
    fill: #d71f85 !important;
    color: #d71f85 !important; }
  .pie.active2 #path3, .pie.active2 li:last-child {
    fill: #d71f85 !important;
    color: #d71f85 !important; }

.telemed {
  text-align: right;
  position: relative;
  font-size: 1.2em; }
  .telemed .right, .telemed .left {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    text-align: left; }
  .telemed #telemedimage {
    position: absolute;
    left: -20%;
    top: 0;
    width: 60%;
    height: 500px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 100%; }

.otherthree {
  text-align: left;
  font-size: 1.2em; }
  .otherthree h2 {
    font-size: 2em;
    font-weight: bolder;
    text-transform: uppercase;
    color: #222222;
    padding-top: 37.5px; }
  .otherthree > div {
    width: 55%;
    margin: 0 auto; }
