.center, .title, .thrids > div, #nav > div nav, #about #titlepage #titlepage-text, #about .goals > div, #research .researchprograms, #research #piegraph .pie, #research .telemed, #research .slideshow-title, #education .thrids > div {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto; }

.bolder {
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase; }

body, html {
  padding: 0;
  margin: 0;
  font-family: "franklin-gothic-urw",sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  color: #222222;
  font-size: 1.2em; }

.center, .title, .thrids > div, #nav > div nav, #about #titlepage #titlepage-text, #about .goals > div, #research .researchprograms, #research #piegraph .pie, #research .telemed, #research .slideshow-title, #education .thrids > div {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto; }

.bolder {
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase; }

h1, h2, h3, h4, h5, a, ul, li, p {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: left;
  color: inherit;
  text-decoration: none; }

h1, h2, h3 {
  text-transform: uppercase; }

h1 {
  color: #d71f85;
  font-size: 7em; }
  h1 span {
    font-size: 0.5em;
    display: block; }
    h1 span:before {
      content: "";
      display: block; }

h2 {
  font-size: 2em;
  font-weight: bolder;
  color: #222222;
  margin-bottom: 18.75px; }

h4 {
  text-align: center;
  text-transform: uppercase; }

a {
  display: inline-block; }

th {
  white-space: nowrap; }

#wrapper {
  overflow-x: hidden; }

.title h4 {
  width: 75%;
  margin: 0 auto;
  text-align: left; }
  .title h4:before, .title h4:after {
    content: "";
    display: block;
    width: 25%; }

.titlepage {
  width: 100%;
  height: 80%;
  height: 80vh;
  overflow: hidden;
  position: relative; }
  .titlepage .sectiontitle {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0; }
  .titlepage .backgroundimage {
    width: 105%;
    height: 105%;
    position: relative;
    left: -2.5%;
    bottom: 2.5%;
    background-size: cover;
    background-position: center; }

.sectiontitle h1, .sectiontitle h2 {
  text-align: center; }
.sectiontitle h2 {
  color: #d71f85;
  font-size: 4em; }
  .sectiontitle h2:before {
    content: "";
    display: block;
    width: 25%;
    margin: 0 auto;
    background-color: #d71f85;
    height: 6px; }

.left, .right {
  width: 50%;
  display: inline-block;
  vertical-align: top; }

.portrait {
  width: 500px;
  height: 500px;
  background-repeat: none;
  background-size: cover;
  border-radius: 100%; }

.quote {
  width: 50%;
  max-width: 1000px;
  min-width: 500px;
  margin: 0 auto; }
  .quote h4 {
    text-align: left; }
  .quote span {
    display: block;
    text-align: right; }

.sub-portrait {
  font-size: 0.8em;
  color: #818a8f;
  padding-top: 18.75px;
  text-align: center; }

.imagebreak {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 80%;
  height: 80vh; }

.thrids {
  text-align: center;
  background-color: #f2c7df;
  max-width: none;
  width: 100%; }
  .thrids > div > div {
    width: 33%;
    display: inline-block;
    vertical-align: top;
    padding: 75px 0; }

.center, .title, .thrids > div, #nav > div nav, #about #titlepage #titlepage-text, #about .goals > div, #research .researchprograms, #research #piegraph .pie, #research .telemed, #research .slideshow-title, #education .thrids > div {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto; }

.bolder {
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase; }

#nav > div {
  width: 100%;
  display: block;
  background-color: white;
  font-size: 0.8em; }
  #nav > div nav {
    display: block; }
#nav #logo {
  display: inline-block;
  width: 20%;
  text-align: right;
  vertical-align: bottom;
  margin-bottom: 1em;
  height: 27px;
  overflow: hidden; }
  #nav #logo img {
    width: 130px; }
#nav #navleft {
  display: inline-block;
  width: 80%; }
  #nav #navleft h4 {
    margin: 0;
    color: #d71f85;
    font-weight: normal;
    padding: 1em 0 0 0; }
  #nav #navleft a {
    color: #222222;
    text-transform: uppercase;
    display: inline-block;
    padding: 0.25em 1em 1em 0; }
    #nav #navleft a:hover {
      color: #d71f85; }
    #nav #navleft a.active {
      font-weight: bolder; }
  #nav #navleft ul {
    padding: 0;
    margin: 0; }
    #nav #navleft ul li {
      list-style: none;
      display: inline-block; }
#nav.fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%; }

.center, .title, .thrids > div, #nav > div nav, #about #titlepage #titlepage-text, #about .goals > div, #research .researchprograms, #research #piegraph .pie, #research .telemed, #research .slideshow-title, #education .thrids > div {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto; }

.bolder {
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase; }

#about #titlepage {
  height: 90%;
  height: 90vh;
  position: relative;
  -webkit-text-shadow: 0px 30px 5px #000;
  -moz-text-shadow: 0px 0px 35px #000;
  -ms-text-shadow: 0px 0px 35px #000;
  -o-text-shadow: 0px 0px 35px #000;
  text-shadow: 0px 0px 35px #000;
  -webkit-text-shadow: 0px 0px 35px rgba(0, 0, 0, 0.5);
  -moz-text-shadow: 0px 0px 35px rgba(0, 0, 0, 0.5);
  -ms-text-shadow: 0px 0px 35px rgba(0, 0, 0, 0.5);
  -o-text-shadow: 0px 0px 35px rgba(0, 0, 0, 0.5);
  text-shadow: 0px 0px 35px rgba(0, 0, 0, 0.5); }
  #about #titlepage #titlepage-text {
    width: 90%;
    padding-top: 173px;
    position: relative;
    z-index: 2; }
    #about #titlepage #titlepage-text h1 {
      font-size: 2.5em;
      color: white; }
      #about #titlepage #titlepage-text h1 span {
        font-weight: normal; }
        #about #titlepage #titlepage-text h1 span:before {
          width: 10%;
          height: 5px;
          background-color: white;
          margin: 37.5px 0; }
  #about #titlepage #titlepage-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: right;
    background: white;
    background: -moz-linear-gradient(45deg, white 0%, #f19ccb 49%, #ed82bd 62%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, white), color-stop(49%, #f19ccb), color-stop(62%, #ed82bd));
    background: -webkit-linear-gradient(45deg, white 0%, #f19ccb 49%, #ed82bd 62%);
    background: -o-linear-gradient(45deg, white 0%, #f19ccb 49%, #ed82bd 62%);
    background: -ms-linear-gradient(45deg, white 0%, #f19ccb 49%, #ed82bd 62%);
    background: linear-gradient(45deg, white 0%, #f19ccb 49%, #ed82bd 62%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ed82bd', GradientType=1 ); }
    #about #titlepage #titlepage-image > div {
      position: relative;
      width: 100%;
      height: 100%;
      overflow: hidden; }
      #about #titlepage #titlepage-image > div > div {
        display: inline-block;
        border-radius: 100%;
        width: 220px;
        height: 220px;
        margin: 174px 214px 0 0;
        box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.5);
        background-repeat: no-repeat;
        background-position: center right;
        background-position-y: -290px;
        background-attachment: fixed;
        background-image: url("/assets/img/child.jpg"); }
#about .hidden {
  overflow: hidden;
  height: 0; }
#about .goals > div {
  padding: 25px 0 75px 0; }
  #about .goals > div > div {
    display: inline-block;
    width: 33%;
    vertical-align: top; }
    #about .goals > div > div .image {
      width: 80%;
      margin: 0 auto;
      border-radius: 100%;
      overflow: hidden; }
      #about .goals > div > div .image img {
        width: 100%; }
    #about .goals > div > div .text {
      width: 90%;
      padding: 25px 0 0 0;
      text-align: center;
      line-height: 1.4em;
      margin: 0 auto; }
#about table {
  margin: 0 0 75px 0; }
  #about table th {
    padding: 2em 0 0 0;
    text-align: left;
    text-transform: uppercase;
    white-space: nowrap;
    border-bottom: solid 1px #222222; }
  #about table tr {
    vertical-align: top;
    border-bottom: solid 1px #222222; }
    #about table tr td:first-child {
      font-weight: bold; }
    #about table tr:first-child th {
      padding: 0; }

.center, .title, .thrids > div, #nav > div nav, #about #titlepage #titlepage-text, #about .goals > div, #research .researchprograms, #research #piegraph .pie, #research .telemed, #research .slideshow-title, #education .thrids > div {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto; }

.bolder {
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase; }

#research .title h4 {
  color: #d71f85; }
  #research .title h4:after {
    height: 3px;
    background-color: #d71f85; }
#research .researchprograms ul {
  padding: 0;
  width: 95%;
  margin: 0 auto;
  text-align: center; }
  #research .researchprograms ul li {
    list-style: none;
    display: inline-block;
    color: #818a8f; }
  #research .researchprograms ul a {
    display: inline-block;
    padding: 0.25em 1em; }
    #research .researchprograms ul a.active, #research .researchprograms ul a:hover {
      color: #222222;
      text-decoration: underline; }
    #research .researchprograms ul a.active {
      font-weight: bold; }
#research #piegraph .pie li {
  list-style: initial;
  margin-left: 1em; }
#research #piegraph .pie svg {
  width: 75%;
  display: block;
  margin: 0 auto; }
  #research #piegraph .pie svg #path1 {
    fill: #ccc; }
  #research #piegraph .pie svg #path2 {
    fill: #aaa; }
  #research #piegraph .pie svg #path3 {
    fill: #999; }
#research #piegraph .pie.active0 #path1, #research #piegraph .pie.active0 #path2, #research #piegraph .pie.active0 #path3, #research #piegraph .pie.active0 li:first-child {
  fill: #d71f85 !important;
  color: #d71f85 !important; }
#research #piegraph .pie.active1 #path2, #research #piegraph .pie.active1 li:nth-child(2) {
  fill: #d71f85 !important;
  color: #d71f85 !important; }
#research #piegraph .pie.active2 #path3, #research #piegraph .pie.active2 li:last-child {
  fill: #d71f85 !important;
  color: #d71f85 !important; }
#research #piegraph .thrids > div .number {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  display: table;
  background-color: #d71f85;
  border-radius: 100%;
  margin-bottom: 37.5px; }
  #research #piegraph .thrids > div .number span {
    display: table-cell;
    vertical-align: middle;
    color: #fff;
    font-weight: bolder;
    font-size: 3em; }
#research #piegraph .thrids > div p {
  width: 80%;
  margin: 0 auto;
  text-align: center; }
#research .otherthree h2 {
  padding-top: 37.5px; }
#research .otherthree > div {
  width: 55%;
  margin: 0 auto; }
#research #slideshowcontainer {
  background-color: #f2c7df; }
#research .slideshow-title h2 {
  margin-bottom: 37.5px; }
#research .slideshow {
  position: relative; }
  #research .slideshow button {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    color: transparent; }
    #research .slideshow button:focus {
      outline: none; }
  #research .slideshow .slick-prev {
    right: 90%; }
  #research .slideshow .slick-next {
    left: 90%; }
  #research .slideshow .slick-list {
    overflow: visible; }
    #research .slideshow .slick-list img {
      width: 90%; }

.center, .title, .thrids > div, #nav > div nav, #about #titlepage #titlepage-text, #about .goals > div, #research .researchprograms, #research #piegraph .pie, #research .telemed, #research .slideshow-title, #education .thrids > div {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto; }

.bolder {
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase; }

#education .title h4 {
  color: #d71f85; }
  #education .title h4:after {
    height: 3px;
    background-color: #d71f85; }
#education .thrids {
  text-align: center;
  background-color: #f2c7df;
  max-width: none;
  width: 100%; }
  #education .thrids .number {
    font-weight: bolder;
    font-size: 2em; }
  #education .thrids p {
    color: #818a8f;
    text-align: center; }
