h1, h2, h3 {
  text-transform: uppercase; }

h1 {
  font-size: 7em;
  line-height: 1.2em; }

h3 {
  font-size: 1.6em; }

a {
  color: inherit;
  text-decoration: inherit;
  display: inline-block; }

.center {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto; }

#first {
  height: 100%;
  height: 100vh;
  color: #fff;
  position: relative;
  padding-top: 0;
  margin-top: 64px;
  height: 90%;
  height: 90vh;
  -webkit-text-shadow: 0px 30px 5px #000;
  -moz-text-shadow: 0px 0px 35px #000;
  -ms-text-shadow: 0px 0px 35px #000;
  -o-text-shadow: 0px 0px 35px #000;
  text-shadow: 0px 0px 35px #000;
  -webkit-text-shadow: 0px 0px 35px rgba(0, 0, 0, 0.5);
  -moz-text-shadow: 0px 0px 35px rgba(0, 0, 0, 0.5);
  -ms-text-shadow: 0px 0px 35px rgba(0, 0, 0, 0.5);
  -o-text-shadow: 0px 0px 35px rgba(0, 0, 0, 0.5);
  text-shadow: 0px 0px 35px rgba(0, 0, 0, 0.5); }
  #first #titletext {
    width: 90%;
    height: 70%;
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
    z-index: 2; }
    #first #titletext > div {
      display: table;
      height: 100%;
      width: 100%; }
      #first #titletext > div > div {
        display: table-cell;
        vertical-align: middle; }
    #first #titletext h1 {
      font-size: 3.2em; }
  #first #titleimage {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ed82bd;
    background: -moz-linear-gradient(top, #ed82bd 0%, white 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #ed82bd), color-stop(100%, white));
    background: -webkit-linear-gradient(top, #ed82bd 0%, white 100%);
    background: -o-linear-gradient(top, #ed82bd 0%, white 100%);
    background: -ms-linear-gradient(top, #ed82bd 0%, white 100%);
    background: linear-gradient(to bottom, #ed82bd 0%, white 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed82bd', endColorstr='#ffffff', GradientType=0 );
    text-align: right; }
    #first #titleimage > div {
      position: relative;
      width: 100%;
      height: 100%;
      overflow: hidden; }
    #first #titleimage > div > div {
      display: inline-block;
      border-radius: 100%;
      width: 220px;
      height: 220px;
      margin: 174px 214px 0 0;
      box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.5);
      background-repeat: no-repeat;
      background-position: center right;
      background-attachment: fixed;
      background-image: url("/assets/img/child.jpg"); }
